<header class="flex-box top-header">
                <img class="section-item" src="assets/images/Logo.svg" alt="Logo" height="100px"> 
                <nav>
                    <ul>
                        <li>
                            <a href="#text">Text</a>
                        </li>
                        <li>
                            <a href="#ti">Text + Images</a>
                        </li>
                        <li>
                            <a href="#colours">Colours</a>
                        </li>
                        <li>
                            <a href="#links">Links</a>
                        </li>
                        <li>
                            <a href="#widgets">Widgets</a>
                        </li>
                    </ul>
                </nav>
            </header>
