---

---

body {
    margin:0;
    width: 100vw;
    font-family: 'europa', sans-serif;
    font-weight: 400;
    background-color: #ffa227;
}

.flex-box {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    background-color: white;
    padding: 1%;
    transform: skew(5deg);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:50px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.75);
    opacity: 1;
}

.flex-box-1 {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    background-color: white;
    padding: 1%;
    transform: skew(5deg);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:50px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.75);
    opacity: 0;
}

.javatest {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    background-color: white;
    padding: 1%;
    transform: skew(5deg);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom:50px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.75);
    opacity: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

section {
    display: relative;
    
}

.section-title{
    width: 100%;
    border-bottom: 5px solid #ffa227;
    transform: skew(-5deg)
}
.section-item {
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}
